<%- include('partials/header'); -%>
<h1>HOME</h1> 
<p> <%=p1%> </p> 

<% posts.forEach(function (elm){  %>
    <h1><%=elm.post_titel %></h1>
    <p> <%=elm.post_post.slice(0, 100) + '...' %> <a href="/posts/<%=elm.post_titel %>">read more</a> </p>    
<%}); %>



<%- include('partials/footer'); -%>